<header class="header">
  <img
    class="header__logo"
    src="https://gh110919.github.io/megadeal-angular/Megadeal.svg"
    alt=""
  />
  <div class="header__content">
    <button class="header__content-categories-button">
      <img
        class="header__content-categories-img"
        src="https://gh110919.github.io/megadeal-angular/menu_open.svg"
        alt=""
      />
      <p class="header__content-button-text">Категории</p>
    </button>
    <input
      type="search"
      class="header__content-search-input"
      placeholder="Поиск по объявлениям"
    />
    <button class="header__content-search-button">
      <img
        class="header__content-search-button-img"
        src="https://gh110919.github.io/megadeal-angular/search.svg"
        alt=""
      />
    </button>
  </div>
  <div class="header__content-announcement-profile-buttons-box">
    <button class="header__content-announcement-button">
      Разместить объявление
    </button>
    <button class="header__content-profile-button">VL</button>
  </div>
</header>
