<section
  style="
    margin-top: -80px;
    position: relative;
    /* z-index: -1; */
    width: 1440px;
    height: 750px;
    background: linear-gradient(
        to right,
        rgba(223, 223, 223),
        rgba(241, 241, 241, 255)
      ),
      linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-blend-mode: screen;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <img
    src="/q02 1.png"
    alt=""
    style="
      position: absolute;
      bottom: 0px;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
    "
  />

  <div
    style="
      width: 650px;
      height: 235px;
      gap: 40px;
      position: static;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
    "
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
      "
    >
      <strong
        style="
          width: 650px;
          height: 57px;

          font-weight: 600;
          font-size: 52px;
          line-height: 110%;
          letter-spacing: 0%;
          text-align: center;
          vertical-align: bottom;
          text-transform: uppercase;
        "
        >Megadeal</strong
      >
      <p
        style="
          width: 464px;
          height: 68px;
          font-weight: 400;
          font-size: 28px;
          line-height: 120%;
          letter-spacing: 0%;
          text-align: center;
          vertical-align: bottom;
        "
      >
        Находи всё, что тебе нужно, и продавай то, что нужно другим
      </p>
    </div>
    <div style="display: flex; gap: 10px; position: static; z-index: 20">
      <button
        style="
          width: 150px;
          height: 50px;
          border-radius: 99px;
          background: #242424;
          color: white;
        "
      >
        Я ищу
      </button>
      <button
        style="
          width: 150px;
          height: 50px;
          border-radius: 99px;
          background: #aee319;
        "
      >
        Я продаю
      </button>
    </div>
  </div>
</section>
