<section class="first">
  <img
    src="https://gh110919.github.io/megadeal-angular/q02 1.png"
    alt=""
    class="first__bg"
  />
  <div class="first__content">
    <div class="first__content-title-subtitle-box">
      <strong class="first__content-title">Megadeal</strong>
      <p class="first__content-subtitle">
        Находи всё, что тебе нужно, и продавай то, что нужно другим
      </p>
    </div>
    <div class="first__content-buttons-box">
      <button class="first__content-button--black">Я ищу</button>
      <button class="first__content-button--green">Я продаю</button>
    </div>
  </div>
</section>
