<section class="third">
  <div class="third__title-buttons-box">
    <strong class="third__title">Рекомендуем на основе поиска</strong>
    <div class="third__buttons-box">
      <button class="third__button-row">
        <img class="third__button-row-img" src="/Frame 2085662178.svg" alt="" />
      </button>
      <button class="third__button-tiles--black">
        <img class="third__button-row-img" src="/Frame 2085662179.svg" alt="" />
      </button>
      <button class="third__button-type">
        <p class="third__button-type-text">По умолчанию</p>
        <img
          class="third__button-type-img"
          src="/Frame 2085662242.svg"
          alt=""
        />
      </button>
    </div>
  </div>
  <div class="third__list-button-box">
    <ul class="third__list">
      <li *ngFor="let item of items">
        <div class="third__list-item-box">
          <img class="third__list-item-img" [src]="item.image" alt="" />
          <div class="third__list-item-description">
            <strong class="third__list-item-description-title">
              {{ item.title }}
            </strong>
            <p class="third__list-item-description-price">
              {{ item.price }}
            </p>
            <p class="third__list-item-description-place">
              {{ item.place }}
            </p>
          </div>
        </div>
      </li>
    </ul>
    <button class="third__list-button">
      <p class="third__list-button-text">Смотреть еще</p>
      <img class="third__list-button-img" src="/Frame 2085662242.svg" alt="" />
    </button>
  </div>
</section>
